{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% block title %}add data{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-4 mt-4">
        <form action="", method = "POST" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Submit" " class="btn btn-md btn-info"> 
            <a href="{% url 'table'  %} " " class="btn btn-md btn-warning" > go to table </a> 
            {% comment %} <button type="button" class="btn btn-danger">Delete</button> {% endcomment %}
            
        </form>
        
        
    </div>
</div>
<script>

</script>
{% endblock content %}

